.nav-bar {
    margin: 0.5rem;
    position: absolute;
    overflow: hidden; /* Add this line to hide overflow */
}

.container {
    position: relative;
    left: -100%;
    /* overflow: hidden; */
    background-color: black;
    color: aliceblue;
    width: 200px;
    height: 300px;
    transition: left 0.5s ease-in-out; /* Add transition property for smooth animation */
}

.icon {
    background-color: aqua;
    height: 1.5rem;
    width: 1.4rem;
    border-radius: 0.2rem;
}

i {
    position: absolute;
    margin: 0.2rem;
    cursor: pointer;
}

i.fa-xmark {
    display: none;
}

/* .menubar {
    background: rgba(0,0,0,0.5);
    margin: 0.5rem 0.01rem;
}
.menubar li
{
    position: relative;
    list-style: none;
    display: inline-flex;
    overflow: hidden;
}

.menubar li:before
{
    content: '';
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 1px;
    left: -100%;
    transition: .5s;
    background: aqua;
}

.menubar li:hover:before
{
    left: 100%;
}

.menubar li a
{
    position: relative;
    display: block;
    text-align: center;
    padding: 5px 10px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    color: transparent;
    cursor: pointer;
}

.menubar li a:before,
.menubar li a:after
 {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    box-sizing: border-box;
    transition: .5s;
    transition-delay: .25s;
}

.menubar li a:before
{
    -webkit-clip-path: polygon(0 0, 100% 3%, 100% 50%, 0 50%);
    clip-path: polygon(0 0, 100% 3%, 100% 50%, 0 50%);
}

.menubar li a:hover:before
{
    color: #f00;
    transform: translate(10px,-2px);
}

.menubar li a:after 
{
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.menubar li a:hover:after
{
    color: #f00;
    transform: translate(-10px,2px);
}
#category {
    position: relative; /* Ensure the parent is positioned 
  }



.hover-menu {
    background-color: blueviolet;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease, left 0.3s ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: none;
    height: 100px;
    left: 100%; /* Initial position, adjust as needed 
  }
  
  #category:hover .hover-menu {
    opacity: 1;
    visibility: visible;
    height: 150px; /* Adjust the desired height on hover 
    left: 50px; /* Adjust the desired left position on hover 
  }
  
.hover-menu {
    visibility: hidden;
  }
  
  #category:hover .hover-menu {
    display: block;
    visibility: visible;
  }
  
  .vertical-nav .hover-menu li a {
    color: darkcyan;
  } */

  


.vertical-nav {
  position: fixed;
  background:white;
  box-shadow: 0 0 40px #00000021;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 70px;
}
.vertical-nav li {
  list-style: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px #f2f5ff;
  text-align: center;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
}
.vertical-nav li:last-child {
  border: none;
}
.vertical-nav li a {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a {
  background: #fafafa;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a .feather {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.vertical-nav li:hover > .hover-menu,
.vertical-nav li:focus-within > .hover-menu {
  visibility: visible;
  opacity: 1;
  -webkit-animation: slide-down 0.2s ease-out;
  -moz-animation: slide-down 0.2s ease-out;
  transition: all 0.5s ease;
  display: block;
}
.vertical-nav li .hover-menu {
  background: white;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
  position: absolute;
  left: 70px;
  min-width: 200px;
  margin: 0;
  padding: 0;
  top: 0;
  box-shadow: 0 0 40px #00000021;
}
.vertical-nav li .hover-menu:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.vertical-nav li .hover-menu ul {
  margin: 0;
  padding: 0;
}
.vertical-nav li .hover-menu ul li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}
.vertical-nav li .hover-menu ul li a {
  width: 100%;
  display: block !important;
  text-decoration: none;
  padding: 15px 20px;
  text-align: left;
  height: auto !important;
  font-weight: 400;
}
.vertical-nav li .hover-menu ul li a:hover {
  background: #fafafa;
  transition: 0.3s ease;
}

.menu-header {
  font-family: "Roboto Condensed", sans-serif;
  color: #929292;
  font-size: 13px;
  text-align: left !important;
  padding: 12px 20px 5px 20px;
  font-weight: 600;
  border-bottom: none !important;
}

.log-out a {
  background: #1e85c9;
  color: white;
}
.log-out a:hover {
  color: #1e85c9;
  background: white;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  0%{
    opacity:0;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
