body 
{
    overflow: hidden; /* Prevent scrolling when .editOrDelete is displayed */
}
.notification 
{
    display: none;
    position: fixed;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table
{
    border-collapse: collapse;
    text-align: center;
}
table tr td
{
    height: 2rem;
    width: 7rem;
}
.editOrDelete
{
    display: none;
    height: 500px;
    width: 600px;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}
.editOrDelete:focus body
{
    filter: blur(0.5rem);
}
.editOrDelete form input
{
    height: 2rem;
}
.editOrDelete form #close
{
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
    position: relative;
    box-sizing: border-box;
    border: none;
    background: none;
}

