/* Style for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button (username) */
  .dropdown-btn {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
  }

  /* Style for the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Style for dropdown options */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  ul li
  {
    cursor: pointer;
  }
  #issued
  {
    display: none;
  }
  #issued table
  {
    border-collapse: collapse;
    width: 800px;
  }
  table tr td
  {
      width: 8rem;
      height: 2rem;
      text-align: center;
  }
  .container
  {
    position: relative;
    display: none;

  }
  .container .books
  {
    position: absolute;
  }